section {
}

.login {
    background: #e4e4e4;
    max-width: 300px;
    margin: 5px auto 10px auto;
    padding: 10px;
}

    .login content {
    }

.register {
    border: double;
    padding: 15px;
    margin: 15px;
    border-radius: 15px;
    background: #e9e9e9;
}

.cadastro input, .cadastro select {
    border: solid 1px;
    border-radius: 5px;
    margin: 2px;
    padding: 5px;
}

    .cadastro input :active,
    .cadastro input :hover {
        border: solid 1px red;
        border-radius: 5px;
        margin: 2px;
        padding: 5px;
    }

    .cadastro input.nome {
        width: 600px;
    }

    .cadastro input.nomeAnimal {
        width: 300px;
    }

    .cadastro input.number {
        width: 35px;
    }

    .cadastro input.endereco {
        width: 450px;
    }


.btn, input.btn {
    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: buttontext;
    background-color: buttonface;
    box-sizing: border-box;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-radius: 5px;
    padding: 5px;
    float: left;
    margin-right: 10px;
}

.imageanimal {
    float: left;
    padding: 5px;
    border: dashed;
    margin-right: 10px;
}

    .imageanimal img {
        max-width: 300px;
        max-height: 300px;
    }

    .imageanimal b {
        background:red;
    }

footer {
    background: red;
    text-align: center;
}
